*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container{
    width: 1240px;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
ul{
    display: flex;
    gap: 40px;
}
.header{
    background-color: aquamarine;
    
}
.main{
    background-color: #DEE2E6;
    width: 100%;
    height: 600px;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
}





/*  Mobile version */


@media ( max-width: 768px) {
    ul{
    flex-direction: row;
    }
    .header{
        width: 760px;
    }
    .container{
        justify-content: space-around;
        gap: 50px;
        width: 768px;
    }
    .hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column-reverse;
}

}
@media ( max-width: 375px) {
    ul{
    flex-direction: column;
    }
    .header{
        width: 375px;
    }
    .container{
        justify-content: space-around;
        gap: 50px;
        width: 355px;
        flex-direction: column;
    }
    .hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column-reverse;
}

}